/*Selector{
	Property: value;
}*/

/* Loop */

body {
	background: url(https://images.freeimages.com/images/large-previews/d71/sailing-boat-1570074.jpg?fmt=webp&h=350) no-repeat center fixed;
	background-size: cover;
}
