/*Selector{
	Property: value;
}*/

/* Loop */

body {
	background: url(https://images.freeimages.com/images/large-previews/7ea/boat-in-black-and-white-1192995.jpg?fmt=webp&h=350) no-repeat center fixed;
	background-size: cover;
}