.nav-link {
	color: darkred;
}

.col {
	background-color: #EBEBEB;
	border: 1px solid black;
}

body{
	background-color: #b6c7cb
}

#tableimg1 {

	padding: 10px 10px;
}

#tableimg2 {

	padding: 10px 10px;
}
