/*Selector{
	Property: value;
}*/

/* Register */


/* element, element */
h1, h2{
	text-align: center;
	border: 6px solid #7887AB; 

}

h2{
	text-align: center;
}

body {
	background: url(mountaintop.jpg) no-repeat center;
	background-size: cover;

}

h3 {
	text-align: center;
	color: ghostwhite;
}

/* element element */
form h3 {
	text-align: left;
	color: black;
}

/* :last/first child */
.sideeffects:last-child {
	color: red;
	list-style: georgian;
	font-style: italic;
}

.sideeffects {
	color: ghostwhite;
}

/*
#blk {
	color: black;
}
*/

.Return {
	text-align: center;
}















/* !Important
Breaks the rule of css. 
Attributes with this tag override subsequent style sheets 
*/

